[Unit]
Description=Log cpu info every minute after 1 minute since boot into ~/Desktop/cpu-temps.log

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min

[Install]
WantedBy=timers.target
